<!DOCTYPE html>
<html lang="en">

<head>
  <title>gDesign</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../css/core.css">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <link rel="stylesheet" type="text/css" href="../css/custom.css">
  <!-- inject:css-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <!-- endinject -->
  <link rel="icon" type="image/png" href="favicon.png">
  <script src="../js/assets/jquery.js"></script>
</head>

<body class="smooth-transition">
  <div class="container-fluid">
    <header>
      <div class="container">
        <div class="col-md-3"><a href="../index.html" class="brand">gDesign</a></div>
        <div class="col-md-6 text-center">
          <div class="nav-trigger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          <ul class="navigation">
            <li><a href="work.html" class="active">Work</a>
            </li>
            <li> <a href="about.html">About</a>
            </li>
            <li> <a href="blog.html">Blog</a></li>
            <li> <a href="contact-alternative.html">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <form>
            <div class="search input-group">
              <input type="text" placeholder="Search for..." class="form-control"><span class="input-group-btn">
                  <button type="button" class="btn btn-default"><span class="fas fa-search"></span></button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </header>
    <section class="hero text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h1>Work</h1>
            <p>"A dream does not become reality through magic; <br>it takes sweat, determination and hard work."
 <br>– Colin Powell</p>
          </div>
        </div>
      </div>
    </section>
    <section class="grid-container">
      <div class="container">
        <div class="row">
          <div class="col-md-12"><a href="#" class="btn btn-default filter-trigger">Filter</a></div>
          <div class="col-md-12 grid masonry">
            <a href="../images/portfolio/07.png" data-caption="Fatty Bear" class="lightbox item logo">
              <div class="thumb"><img alt="Fatty Bear Logo" src="../images/portfolio/07.png"></div>
              <div class="caption">
                <h4>Fatty Bear</h4>
                <div class="tag">Logo Design &amp; Brand Identity</div>
              </div>
            </a>
            <a href="../images/portfolio/08.png" data-caption="Procerus Skin Care Billboard" class="lightbox item design">
              <div class="thumb"><img alt="Procerus Skin Care Billboard" src="../images/portfolio/08.png"></div>
              <div class="caption">
                <h4>Procerus Skin Care | Billboard</h4>
                <div class="tag">Print &amp; Design</div>
              </div>
            </a>
            <a href="../images/portfolio/10.png" data-caption="Pac Person" class="lightbox item illust">
              <div class="thumb"><img alt="Pac Person" src="../images/portfolio/10.png"></div>
              <div class="caption">
                <h4>PacPerson</h4>
                <div class="tag">Illustration &amp; Design</div>
              </div>
            </a>
            <a href="../images/portfolio/09.png" data-caption="Nomad Split Website" class="lightbox item development">
              <div class="thumb"><img alt="Nomad Split Website" src="../images/portfolio/09.png"></div>
              <div class="caption">
                <h4>Nomad</h4>
                <div class="tag">UI Design &amp; Frontend Development</div>
              </div>
            </a>
            <a href="../images/portfolio/11.png" data-caption="GFM Motors Website" class="lightbox item development design">
              <div class="thumb"><img alt="GFM Motors Website" src="../images/portfolio/11.png"></div>
              <div class="caption">
                <h4>GFM Motors</h4>
                <div class="tag">UI Design &amp; Frontend Development</div>
              </div>
            </a>
            <a href="../images/portfolio/12.png" data-caption="Doggio Website" class="lightbox item development design">
              <div class="thumb"><img alt="Doggio Website" src="../images/portfolio/12.png"></div>
              <div class="caption">
                <h4>Doggio</h4>
                <div class="tag">UI Design &amp; Frontend Devlopment</div>
              </div>
            </a>
            <a href="../images/portfolio/13.png" data-caption="Nikki Lane Website" class="lightbox item development design">
              <div class="thumb"><img alt="Nikki Lane" src="../images/portfolio/13.png"></div>
              <div class="caption">
                <h4>Nikki Lane</h4>
                <div class="tag">Frontend Development &amp; Design</div>
              </div>
            </a>
            <a href="../images/portfolio/14.png" data-caption="Harry Icon" class="lightbox item illust logo">
              <div class="thumb"><img alt="Harry Icon" src="../images/portfolio/14.png"></div>
              <div class="caption">
                <h4>Harry Icon</h4>
                <div class="tag">Frontend Development &amp; Design</div>
              </div>
            </a>
            <a href="../images/portfolio/15.png" data-caption="Rick No Morty" class="lightbox item illust logo">
              <div class="thumb"><img alt="Ricky No Morty" src="../images/portfolio/15.png"></div>
              <div class="caption">
                <h4>Harry Icon</h4>
                <div class="tag">Frontend Development &amp; Design</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 text-center">
            <p>gDesign <br>Graphic Design & Development</p>
          </div>
          <div class="col-md-3 text-center">
            <p>Detroit, MI 48227</p>
          </div>
          <div class="col-md-3 text-center">
            <p>hello@breelynae.com<br>313.673.3962</p>
          </div>
          <div class="col-md-3 text-center">
            <ul class="social-links">
              <li> <a href="https://dribbble.com/breelynae" class="fab fa-dribbble"></a></li>
              <li> <a href="https://www.instagram.com/gardnerandco/" class="fab fa-instagram"></a></li>
              <li> <a href="https://twitter.com/breelynae3" class="fab fa-twitter"></a></li>
              <li> <a href="https://www.behance.net/breelynae43c5#" class="fab fa-behance"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <footer class="bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">&copy; gDesign. All rights reserved.Built by B. Gardner</div>
        </div>
      </div>
    </footer>
    <div class </div>
      <div class="filter-container">
        <div class="container">
          <div class="inner">
            <ul class="filters">
              <li> <a href="#" data-filter="item" class="active filter">All</a></li>
              <li><a href="#" data-filter="design" class="filter">Graphic Design</a></li>
              <li><a href="#" data-filter="development" class="filter">Web Development</a></li>
              <li><a href="#" data-filter="logo" class="filter">Logo</a></li>
              <li><a href="#" data-filter="illust" class="filter">illustration</a></li>
            </ul>
          </div>
        </div>
      </div>
      <script src="../js/assets/bootstrap.js"></script>
      <script src="../js/assets/imagesloaded.pkgd.min.js"></script>
      <script src="../js/assets/validation.js"></script>
      <script src="../js/assets/packery.pkgd.min.js"></script>
      <script src="../js/assets/velocity.min.js"></script>
      <script src="../js/assets/typed.min.js"></script>
      <script src="../modules/titan-slider/titan-slider.js"></script>
      <script src="../modules/tera-lightbox/tera-lightbox.js"></script>
      <script src="../js/assets/animsition.js"></script>
      <script src="../js/functions.js"></script>
</body>

</html>
